/* Estilos para el encabezado */
header {
    background-color: #7FDBFF;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin: 0;
    color: white;
  }
  
  /* Estilos para la sección principal */
  section {
    margin: 20px;
    padding: 20px;
    border: 2px solid #7FDBFF;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #7FDBFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #39CCCC;
  }
  
  /* Estilos para los resultados de la cotización */
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  